db/
.DS_Store
/MongooseDB/node_modules/*
/MongooseDB/package-lock.json
*.js
!/MongooseDB/createDB/*
!/Mocha/*
curlCommands/
dbCommands/
e2e/
docs/
/FurryTaleNG/node_modules/*
/FurryTaleNG/package-lock.json
/FurryTaleNG/.angular
.env
