<!DOCTYPE html>


<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<link href="https://fonts.googleapis.com/css2?family=Coiny&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Concert+One&display=swap" rel="stylesheet">

<div class="container">
    <div class="container-fluid bg-light mb-3">
        <div class="row">
              <!-- User Intro -->
            <div class="Intro row col-md-12">
                <div class="col-md-10 py-3">
                    <div class="profile-info">
                        <img class="thumbnail thumbnail-img" src="{{profileUserInfo?.profilePic}}" alt="profile picture">
                        <div class="user-details py-2">
                            <h6>{{ profileUserInfo?.userName }} </h6>
                            <h6>{{ profileUserInfo?.email}} </h6>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 py-3">
                    <div class="text-right">
                        <div class="camera">
                            <a href="#" class="camera-link">
                                <img class="camera" src=".\\src\\assets\\Images\\camera.png" alt="Camera picture">
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <div class="col-md-8 offset-md-2">
                      <!-- About -->
                    <div class="card mb-4">
                        <div class="form-group">
                            <h5 class="py-3">About</h5>
                            <span type="text" id="about">
                                {{profileUserInfo?.about}}
                            </span>
                        </div>
                        <div class="edit">
                            <a href="#" class="About Edit-link">
                                <img class="edit" src=".\\src\\assets\\Images\\edit.png" alt="Edit About">
                            </a>
                        </div>
                    </div>
                      <!-- Achievements -->
                    <div class="card mb-4">
                        <div class="form-group">
                            <h5 class="py-3">Achievements</h5>
                            <span type="text" id="achievements"></span>
                        </div>
                        
                        <div class="edit">
                            <a href="#" class="Achievements Edit-link">
                                <img class="edit" src=".\\src\\assets\\Images\\edit.png" alt="Edit Achievements">
                            </a>
                        </div>
                    </div>
                    <div class="card mb-4">
                        <div class="form-group">
                            <h5 class="py-3">My Posts</h5>
                            <span>
                                <div class="row">
                                    <div class="col-md-6 offset-md-3">
                                        <div class="card mb-3" *ngFor="let profile of profileResult">
                                            <!-- Post- User Profile Pic -->
                                            <div class="card-header">
                                                <div class="row">
                                                    <div class="col-2">
                                                        <img class="thumbnail thumbnail-img"
                                                            src="{{profileUserInfo?.profilePic}}" alt="Profile picture">
                                                    </div>
                                                    <!-- Post- User Name -->
                                                    <div class="col-4">
                                                        {{profileUserInfo?.userName}}
                                                    </div>
                                                </div>
                                            </div>
                                              <!-- Post- User Posts -->
                                            <img src="{{profile.image}}" class="card-img-top" alt="user post"
                                                width="400" height="300">
                                            <div class="card-body">
                                                <h6 class="card-title">{{profile.caption}}</h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>