  /* Center the search bar and posts */
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.thumbnail {
    width: 50px !important;
    height: 50px !important;
}
.thumbnailProfile {
    width: 100px !important;
    height: 100px !important;
}

.camera {
    width: 20px;
    height: 20px;
}
.edit {
    width: 20px;
    height: 20px;
}

.thumbnail-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.rounded-circle {
    width: 5%;
    /* set the width to 50% of the containing element */
    height: auto;
    /* set the height to auto to maintain the aspect ratio */
}

.card-link {
    width: 5%;
    /* set the width to 50% of the containing element */
    height: auto;
    /* set the height to auto to maintain the aspect ratio */
}

form.form-inline {
    width: 30%;
    text-align: center;
}

div.col-md-3 h2 {
    color: #E6A439;
    font-family: 'Coiny', cursive;
    font-style: bold;
    font-size: 3em;
    line-height: 1.5;
    width: 103px;
    height: 74px;
    left: 161px;
    top: 16px;
}

p {
    color: gray;
    font-family: 'Concert One', cursive;
}

a.camera-link {
    text-decoration: none;
    cursor: pointer;
}

.Intro{
    background-color: #FFFACD;
}