<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


<div class="container">

    <!-- Header -->
    <div class="container-fluid bg-light mb-3">
      <div class="row">
        <div class="col-md-3 py-3 ml-5">
          <h2>Furry<br>Tale</h2>
        </div>
        <div class="col-md-7 py-4 ml-2">
          <a href="/home" class="btn btn-link">
            <img src="../assets/Images/home.png" alt="Thumbnail 1" class="thumbnail">
            <p>Home</p>
          </a>
          <a href="/petCircle/2c78a513a28f2bf1c680b505955a7bad" class="btn btn-link">
            <img src="../assets/Images/pet.png" alt="Thumbnail 2" class="thumbnail">
            <p>Pet Circle</p>
          </a>
          <a href="/opportunities" class="btn btn-link">
            <img src="../assets/Images/opp.png" alt="Thumbnail 3" class="thumbnail">
            <p>Opportunities</p>
          </a>
          <a href="http://localhost:4200/profile" class="btn btn-link">
            <img src="../assets/Images/paw.png" alt="Thumbnail 4" class="thumbnail">
            <p>Profile</p>
          </a>
        </div>
      </div>
    </div>
</div>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<link href="https://fonts.googleapis.com/css2?family=Coiny&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Concert+One&display=swap" rel="stylesheet">
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<router-outlet></router-outlet>
