 

 <!-- Custom CSS -->
 <style>
    /* Center the search bar and posts */
    .container {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .thumbnail {
      width: 50px !important;
      height: 50px !important;
    }

    .thumbnail-img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 50%;
    }

    .rounded-circle {
      width: 5%;
      /* set the width to 50% of the containing element */
      height: auto;
      /* set the height to auto to maintain the aspect ratio */
    }

    .card-link {
      width: 5%;
      /* set the width to 50% of the containing element */
      height: auto;
      /* set the height to auto to maintain the aspect ratio */
    }

    form.form-inline {
      width: 30%;
      text-align: center;
    }

    div.col-md-3 h2 {
      color: #E6A439;
      font-family: 'Coiny', cursive;
      font-style: bold;
      font-size: 3em;
      line-height: 100%;
      width: 103px;
      height: 74px;
      left: 161px;
      top: 16px;
    }

    p {
      color: gray;
      font-family: 'Concert One', cursive;
    }

  </style>
 <!-- Search bar -->
 <div class="row">
    <div class="col">
      <form class="form mb-3">
        <div class="input-group">
          <input class="form-control" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-dark" type="submit">Search</button>
        </div>
      </form>
    </div>
  </div>

  <!-- Create Post -->
  <div class="card mb-3">
    <div class="card-header">
      <div class="row">
        <div class="col-2">
          <img class="thumbnail thumbnail-img" src=".\Images\Kitten.jpg" alt="Profile picture">
        </div>
        <div class="col">
          <div class="input-group">
            <input class="form-control" placeholder="Start a Post" aria-label="Search">
            <button class="btn btn-light" type="submit">+</button> 
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-8 offset-md-2">
      <!-- Post 1 -->
      <div class="card mb-3" *ngFor="let post of posts">
        <div class="card-header">
          <div class="row">
            <div class="col-2">
              <img class="thumbnail thumbnail-img" src="{{post.joinedData[0].profilePic}}" alt="Profile picture">
            </div>
            <div class="col" *ngIf="post.joinedData.length > 0">
              
              {{post.joinedData[0].userName}}
            </div>
          </div>
        </div>

        <img src="{{post.image}}" class="card-img-top" alt="Post image" width="600" height="300">
        <div class="card-body">
          <h6 class="card-title">{{post.caption}}</h6>
        
          <img src="https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.pngegg.com%2Fen%2Fpng-nyzhd&psig=AOvVaw1ZEKhrYCGBV20OuKeKEjs1&ust=1684114287344000&source=images&cd=vfe&ved=0CBAQjRxqFwoTCKjf7eDU8_4CFQAAAAAdAAAAABAE" class="card-link" alt="Paws image"><i class="far fa-heart mr-1"></i>
          <span class="float-right mb-1">11 paws</span>
           
        </div>
        
      </div>
    </div>
  </div>
<p>testing-node works!</p>
<p *ngFor="let post of posts"> {{post.caption}}</p>
