
<div class="col-md-6 offset-md-3">
  <mat-tab-group>

    <ng-container *ngIf="accountType === 1">
      <mat-tab label="OPEN TO WORK">
        <table class="table">
          <tbody>
            <ng-container *ngFor="let user of openToWorkUsers">
              <td class="thumbnail">
                <img src="{{user.profilePic}}" class="thumbnail-img">
              </td>
              <td>{{user.about}}</td>
              <td>
                <a href="#" class="button btn">Details</a>
              </td>
            </ng-container>
          </tbody>
        </table>
      </mat-tab>
    </ng-container>

    <mat-tab label="JOBS">
      <table class="table">
        <tbody>
          <ng-container *ngFor="let post of posts">
            <tr *ngIf="post.postType === 1">
              <td class="thumbnail">
                <img src="{{post.image}}" class="thumbnail-img">
              </td>
              <td>{{post.caption}}</td>
              <td>
                <a href="#" class="button btn">Details</a>
              </td>
            </tr>
          </ng-container>
        </tbody>
      </table>
    </mat-tab>

    <mat-tab label="ADOPTIONS">
      <table class="table">
        <tbody>
          <ng-container *ngFor="let post of posts">
            <tr *ngIf="post.postType === 2">
              <td class="thumbnail">
                <img src="{{post.image}}" class="thumbnail-img">
              </td>
              <td>{{post.caption}}</td>
              <td>
                <a href="#" class="button btn">Details</a>
              </td>
            </tr>
          </ng-container>
        </tbody>
      </table>
    </mat-tab>

    <mat-tab label="TRAININGS">
      <table class="table">
        <tbody>
          <ng-container *ngFor="let post of posts">
            <tr *ngIf="post.postType === 3">
              <td class="thumbnail">
                <img src="{{post.image}}" class="thumbnail-img">
              </td>
              <td>{{post.caption}}</td>
              <td>
                <a href="#" class="button btn">Details</a>
              </td>
            </tr>
          </ng-container>
        </tbody>
      </table>
    </mat-tab>

    <mat-tab label="COMPETITIONS">
      <table class="table">
        <tbody>
          <ng-container *ngFor="let post of posts">
            <tr *ngIf="post.postType === 4">
              <td class="thumbnail">
                <img src="{{post.image}}" class="thumbnail-img">
              </td>
              <td>{{post.caption}}</td>
              <td>
               <a href="#" class="button btn">Details</a>
              </td>
            </tr>
          </ng-container>
        </tbody>
      </table>
    </mat-tab>
  </mat-tab-group>
</div>