

<div class="col-md-6 offset-md-3" *ngIf="currUser">

   <mat-tab-group>
     <mat-tab label="TAILERS">
       <table class="table">
         <tbody>

            <ng-container *ngFor="let tailer of currUser.tailers">
               <ng-container *ngFor="let user of users">
                  <tr *ngIf="user.userId === tailer">
                    <td class="thumbnail">
                      <img src="{{user.profilePic}}" class="thumbnail-img">
                    </td>
                    <td>{{user.userName}}</td>
                    <td>
                      <ng-container *ngIf="!isTailing(user)">
                        <!-- Display tail back button if not tailing -->
                        <button (click)="tailClick(user.userId)" class="button btn">Tail Back</button>
                      </ng-container>
                      <ng-container *ngIf="isTailing(user)">
                        <!-- Display disabled Tailing button if already tailing -->
                        <button class="button btn disabled" disabled>Tailing</button>
                      </ng-container>
                    </td>
                 </tr>
                </ng-container>
            </ng-container>
          
         </tbody>
       </table>
     </mat-tab>

     <mat-tab label="TAILEES">
       <table class="table">
         <tbody>

            <ng-container *ngFor="let tail of currUser.tailee">
               <ng-container *ngFor="let user of users">
                  <tr *ngIf="user.userId === tail">
                    <td class="thumbnail">
                      <img src="{{user.profilePic}}" class="thumbnail-img">
                    </td>
                    <td>{{user.userName}}</td>
                    <td>
                      <!-- Display unTail button -->
                      <button (click)="unTailClick(user.userId)" class="button btn">UnTail</button>
                    </td>
                 </tr>
                </ng-container>
            </ng-container>

         </tbody>
       </table>
     </mat-tab>
   </mat-tab-group>
 </div>