

<div class="col-md-6 offset-md-3" *ngIf="currUser">

   <mat-tab-group>
     <mat-tab label="TAILERS">
       <table class="table">
         <tbody>

            <ng-container *ngFor="let tailer of currUser.tailers">
               <ng-container *ngFor="let user of users">
                  <tr *ngIf="user.userId === tailer">
                    <td class="thumbnail">
                      <img src="{{user.profilePic}}" class="thumbnail-img">
                    </td>
                    <td>{{user.userName}}</td>
                    <td>
                      <a href="petCircle/2c78a513a28f2bf1c680b505955a7bad" class="button btn">Tailing/Tail</a>
                    </td>
                 </tr>
                </ng-container>
            </ng-container>
           
         </tbody>
       </table>
     </mat-tab>
     <mat-tab label="TAILEES">
       <table class="table">
         <tbody>

            <ng-container *ngFor="let tail of currUser.tailee">
               <ng-container *ngFor="let user of users">
                  <tr *ngIf="user.userId === tail">
                    <td class="thumbnail">
                      <img src="{{user.profilePic}}" class="thumbnail-img">
                    </td>
                    <td>{{user.userName}}</td>
                    <td>
                       <a href="petCircle/2c78a513a28f2bf1c680b505955a7bad" class="button btn">Untail</a>
                    </td>
                 </tr>
                </ng-container>
            </ng-container>

         </tbody>
       </table>
     </mat-tab>
   </mat-tab-group>
 </div>